<!doctype html>
<title>Login to Blog</title>

{% block body %}
  <h2>Login</h2>
  <form action="{{ url_for('login') }}" method=post>
    <dl>
      <dt>Username:
      <dd><input type=text name=username>
    </dl>
  </form>
{% endblock %}